page-info {
    .item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img{
        width:120px !important;
        height: 120px !important;
    }
     .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img{
        width:120px !important;
        height: 120px !important;
    }
}

